label
{
	cursor: pointer;
}

input, textarea, select[size]
{
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 2px;
	padding: 0 2px;
}

textarea
{
	resize: none;
	width: 100%;
	box-sizing: border-box;
	margin: 2px;
}

select
{
	margin: 2px;
	width: 100%;
}