ul.menu-bar
{
	list-style: none;
	display: block;
	height: 20px;
	background-color: #A9CEDE;
	padding: 0;
	margin: 0;
}

ul.menu-bar li
{
	display: none;
	line-height: 20px;
	padding: 0 10px;
	font-size: 13px;
	text-shadow: 1px 1px #999;
}

ul.menu-bar > li
{
	display: inline;
	height: 20px;
	float: left;
}

ul.menu-bar li:hover
{
	background-color: #B4DEF0;
}

ul.menu-bar ul
{
	width: 150px;
	list-style: none;
	position: absolute;
	top: 20px;
	margin: 0;
	padding: 0;
	background-color: #A9CEDE;
}