ul.menu-bar
{
	list-style: none;
	display: block;
	height: 20px;
	background-color: #bbb;
	padding: 0;
	margin: 0;
}

ul.menu-bar li
{
	height: 20px;
	line-height: 20px;
	float: left;
	padding: 0 10px;
}

ul.menu-bar li:hover
{
	background-color: #ccc;
}