section.main {
	padding: 5px;
}

.cols {
	padding: 0 5px;
	box-sizing: border-box;
	display: inline-block;
}

.firstcol {
	padding-left: 0;
}

.lastcol {
	padding-right: 0;
}

.twocols {
	width: calc( 50% - 5px );
}

.col3 {
    width: 33.3%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

